on:
  push:
    branches:
      - main
  pull_request:

name: run tests
jobs:
  test:

    runs-on: ubuntu-latest
    env:
      GOOS: js
      GOARCH: wasm
      GOLANGCI_LINT_VERSION: v2.8.0

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        id: install-go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Download dependencies
        run: go mod download
        if: steps.install-go.outputs.cache-hit != 'true'

      - name: Run linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean --snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
